.cta-design {
    // min-height: 33.125rem;
    padding: 0 1.5rem;
    margin-top: 8.125rem;

    @include media('>=desktop') {
        padding: 0 2.5rem;
        display: flex;
        align-items: center;
        margin-top: 10rem;


    }

    &-item {
        min-height: 15.625rem;
        border-radius: 0.9375rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $primary-white;
        overflow: hidden;
        position: relative;

        background-size: cover;
        background-repeat: no-repeat;


        @include media(">=tablet") {
            &:hover::after {
                background-color: $primary-peach;
            }

            &:hover p::after {
                color: $secondary-grey;
            }
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            opacity: .65;
            transition: background-color .2s ease-in, color .2s ease-in;

        }


        h2,
        p {
            margin: 0;
            font-size: 500;
            z-index: 2;

        }

        h2 {
            font-size: 1.75rem;
            line-height: 2.25rem;
            letter-spacing: 0.0875rem;
            text-transform: uppercase;

            @include media('>=desktop') {
                font-size: 2.5rem;
                line-height: 3rem;
                letter-spacing: 0.125rem;
                margin-bottom: 1.25rem;
            }
        }

        p {
            line-height: 1.375rem;
            letter-spacing: 0.3125rem;
            font-weight: 500;


            &::after {
                content: '>';
                display: inline-block;
                height: 100%;
                // width: 10%;
                transform: translateX(70%);
                color: $primary-peach;
                font-weight: 500;
                transition: all .2s ease-in;
            }

            @include media(">=tablet") {
                &:hover::after {
                    transform: translateX(140%);
                }


            }
        }

        &:nth-of-type(1) {
            background-image: url(/images/home/mobile/image-app-design.jpg);

            @include media(">=420px") {
                background-image: url(/images/home/tablet/image-app-design.jpg);
                background-position: 50% 50%;
            }

            @include media('>=desktop') {
                background-image: url(/images/home/desktop/image-app-design.jpg);
                flex: 1;
                max-height: 18.75rem;
            }
        }

        &:nth-of-type(2) {
            background-image: url(/images/home/mobile/image-graphic-design.jpg);
            margin: 1.5rem 0 0;

            @include media(">=420px") {
                background-image: url(/images/home/tablet/image-graphic-design.jpg);
                background-position: 50% 50%;
            }

            @include media('>=desktop') {
                background-image: url(/images/home/desktop/image-graphic-design.jpg);
                margin: 0 0 0 1.875rem;
                flex: 1;
                max-height: 18.75rem;
            }
        }
    }
}