.cards {
    // min-height: 187.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;

    @include media('>=tablet') {
        padding: 0 2.5rem;
    }

    @include media('>=desktop') {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }



    .card {
        min-height: 30rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.9375rem;
        overflow: hidden;
        text-decoration: none;

        @include media('>=tablet') {
            flex-direction: row;
            min-height: 19.375rem;
        }

        @include media('>=desktop') {
            flex-direction: column;
            max-width: 30%;
            // min-width: 22.5rem;
            min-height: 30rem;
        }






        &:hover .card-text {
            background-color: $primary-peach;

        }

        &:hover .card-text h3,
        &:hover .card-text p {
            color: $primary-white;
        }

        &:not(:last-child) {
            margin-bottom: 2.5rem;

            @include media('>=desktop') {
                margin-bottom: 0;
            }
        }

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
            @include media('>=desktop') {
                margin-bottom: 1.875rem;
            }
        }

        &-bgc {
            min-height: 20rem;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;

            @include media('>=tablet') {
                flex: 1;
            }



        }

        &-text {
            flex: 1;
            text-align: center;
            padding: 0 1.5rem;
            background-color: #FDF3F0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            transition: background-color .3s ease-in-out;



            h3,
            p {
                margin: 0;
                transition: color .3s ease-in-out;
            }

            h3 {
                color: #E7816B;
                text-transform: uppercase;
            }

            p {
                color: $secondary-grey;
                padding: 0 1rem;

            }
        }

        .express {
            background-image: url(/images/web-design/desktop/image-express.jpg);
        }

        .transfer {
            background-image: url(/images/web-design/desktop/image-transfer.jpg);
        }

        .photon {
            background-image: url(/images/web-design/desktop/image-photon.jpg);
        }

        .builder {
            background-image: url(/images/web-design/desktop/image-builder.jpg);
        }

        .blogr {
            background-image: url(/images/web-design/desktop/image-blogr.jpg);
        }

        .camp {
            background-image: url(/images/web-design/desktop/image-camp.jpg);
        }





    }
}