html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    line-height: 1.5625rem;
    font-weight: 400;
    color: $primary-white;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;

}


.no-scroll {
    overflow: hidden;
    height: 100%;
    // width: 100%;

    @include media(">=tablet") {
        overflow: auto;
    }
}


h1,
h2,
h3 {
    font-weight: 500;
}

h1,
.h1 {
    font-size: 2rem;
    line-height: 2.25rem;
}

h2,
.h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0.0875rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: 0.3125rem;
}

// Padding
.pm-aside {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

// FlexBox
.flex {
    display: flex;

    &-jc-c {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-se {
        justify-content: space-evenly;
    }

    &-ai-c {
        align-items: center;
    }
}

a.button {
    padding: 1.125rem 1.5rem;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: $secondary-grey;
    background-color: $primary-white;
    border-radius: .5rem;
    font-weight: 500;
    transition: background-color .2s ease-in, color .3s ease-in;

    @include media(">=tablet") {
        &:hover {
            background-color: $secondary-peach;
            color: $primary-white;
        }
    }
}

.cloud-1,
.cloud-2 {
    display: none;
    width: 1000px;
    height: 600px;
    background-image: url(/images/shared/desktop/bg-pattern-leaf.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    z-index: -3;

    @include media('>=desktop') {
        display: block;

    }
}

.cloud-1 {
    top: 20%;
    left: -15%;
}


.cloud-2 {
    transform: rotatez(180deg);
    top: 71%;
    right: -15%
}

.card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cta-design-item {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.design_item {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}