.header {
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;

    @include media ('>=tablet') {
        padding: 4rem 2.5rem;
    }



    &_logo {
        height: 1.875rem;
        width: 12.5rem;


        img {
            display: block;
            height: 100%;
            width: 100%;

        }
    }

    &_hamburger {
        height: 1.375rem;
        width: 1.5rem;
        background-image: url(/images/shared/mobile/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transform: translateY(2px);

        @include media ('>=tablet') {
            display: none;
        }



    }

    &_links {
        display: none;


        @include media ('>=tablet') {
            display: block;
            align-self: flex-end;

            a {
                text-transform: uppercase;
                text-decoration: none;
                color: $secondary-grey;
                font-weight: 400;
                transition: text-decoration .3s ease-in-out;

                &:hover {
                    text-decoration: underline;
                }

                @include media('>=tablet') {
                    letter-spacing: 0.125rem;
                }
            }

            a:not(:last-child) {
                padding-right: 2.5rem;
            }
        }
    }

    .active {
        background-image: url(/images/shared/mobile/icon-close.svg);
        background-repeat: no-repeat;
        background-size: contain;


    }
}